In [237]:
#before start upload to data/rss  all .csv files 

import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split, cross_validate
from sklearn.metrics import plot_confusion_matrix, accuracy_score
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split, cross_validate
from sklearn.metrics import plot_confusion_matrix, accuracy_score
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor

pd.options.mode.chained_assignment = None

In [238]:
# trim date:
#  @param: row String date for trimming
#  @param: dtype String  type of trimming: year: 2021, day: 01-01-2021
#  @return: date String
def cleanDate(row, dtype='year'):
    if (dtype == 'year'):
        return row.str.extract(r'(\d*)-\d*-\d*.*', expand=False)
    elif (dtype == 'day'):
        return row.str.extract(r'(\d*-\d*-\d*).*', expand=False)

# Change t and f to boolean:
#  @param: row String param for changing
#  @return: String boolean value    
def changeBoolean(row):
    d = {'t': True, 'f': False}
    return row.map(d)

# Fill NA total score row:
#  @param: row Object row of dataFrame for change
#  @return: row Object row of dataFrame with max studentScore from task
def fillNaTotalScore(row, fullDb):
    row['totalScore'] = fullDb[fullDb['courseTaskId'] == row['courseTaskId']]['studentScore'].max()
    return row

# Calculate sum points from task by studentId:
#  @param: studentId Integer student id for filtering
#  @param: task DataFrame with students tasks
#  @param: column String column for summing
#  return sum List points from task by studentId
def fillSum(studentId, task, column):
    return task[task['studentId'] == studentId][column].sum()


# Prepare englishLevel collumn, trim duplicates and clean data:
#  @param: clean_train DataFrame for change
#  @return: clean_train DataFrame with cleaned englishLevel column
def cleanLang(clean_train):
    clean_train['englishLevel'] = clean_train['englishLevel'].str.lower()
    clean_train['englishLevel'].replace(to_replace=r'^з$', value='-', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^natalya.sadov@gmail.com$', value='-', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^в1$', value='b1', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^3/5$', value='b1', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^good$', value='b2', regex=True, inplace=True)
    

    clean_train['englishLevel'].replace(to_replace=r'^.*begin.*$', value='a0', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^.*elementary.*$', value='a1', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^базовый$', value='a0', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^.*начинающий.*$', value='a0', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^zero$', value='a0', regex=True, inplace=True)

    clean_train['englishLevel'].replace(to_replace=r'^easy$', value='a1', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^.*на уровне чтения.*$', value='a1', regex=True, inplace=True)
    
    clean_train['englishLevel'].replace(to_replace=r'^.*pre-intermed.*$', value='a2', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^.*pre intermed.*$', value='a2', regex=True, inplace=True)
        
    clean_train['englishLevel'].replace(to_replace=r'^.*upper intermediate.*$', value='b2', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^.*upper-intermed.*$', value='b2', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^.*up-intermed.*$', value='b2', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^.*high-intermed.*$', value='b2', regex=True, inplace=True) 
    
    clean_train['englishLevel'].replace(to_replace=r'^.*interm.*$', value='b1', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^средний$', value='b1', regex=True, inplace=True)  

    clean_train['englishLevel'].replace(to_replace=r'^.*advance.*$', value='c1', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^.*proficient.*$', value='c1', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^.*advanced.*$', value='c1', regex=True, inplace=True)    
    clean_train['englishLevel'].replace(to_replace=r'^.*high proficiency.*$', value='c1', regex=True, inplace=True)
    
    clean_train['englishLevel'].replace(to_replace=r'^native$', value='c2', regex=True, inplace=True)
    
 
    clean_train['englishLevel'].replace(to_replace=r'^b1-b2$', value='b1+', regex=True, inplace=True)    
    clean_train['englishLevel'].replace(to_replace=r'^a2-b1$', value='a2+', regex=True, inplace=True) 
    clean_train['englishLevel'].replace(to_replace=r'^b2-с1$', value='b2+', regex=True, inplace=True)    
    clean_train['englishLevel'].replace(to_replace=r'^a1-a2$', value='a1+', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^b2-c1$', value='b2+', regex=True, inplace=True)
    
    clean_train['englishLevel'].replace(to_replace=r'^.*a2\+.*$', value='a2+', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^.*a1\+.*$', value='a1+', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^.*а2\+.*$', value='a2+', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^.*с1.*$', value='a2+', regex=True, inplace=True)
    
    clean_train['englishLevel'].replace(to_replace=r'^a-2$', value='a2', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^а2$', value='a2', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^а1$', value='a1', regex=True, inplace=True)
    
    clean_train['englishLevel'].replace(to_replace=r'^a\+$', value='a2', regex=True, inplace=True)

    clean_train['englishLevel'].replace(to_replace=r'^.*b1[^\+]*$', value='b1', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^.*b2[^\+]*$', value='b2', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^.*c1[^\+]*$', value='c1', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^.*a1[^\+]*$', value='a1', regex=True, inplace=True)
    clean_train['englishLevel'].replace(to_replace=r'^.*a2[^\+]*$', value='a2', regex=True, inplace=True)

    return clean_train

# Prepare alias collumn, trim duplicates and clean data:
#  @param: df DataFrame for change
#  @return: df DataFrame with cleaned alias column
def cleanAlias(df):
    df['alias'].replace(to_replace=r'^.*react.*$', value='react', regex=True, inplace=True)
    df['alias'].replace(to_replace=r'^.*angular.*$', value='angular', regex=True, inplace=True)
    df['alias'].replace(to_replace=r'^.*android.*$', value='android', regex=True, inplace=True)
    df['alias'].replace(to_replace=r'^.*ios.*$', value='ios', regex=True, inplace=True)
    df['alias'].replace(to_replace=r'^.*nodejs.*$', value='nodejs', regex=True, inplace=True)
    df['alias'].replace(to_replace=r'^.*rs-st.*$', value='rss_st', regex=True, inplace=True)
    df['alias'].replace(to_replace=r'^.*rs-.*$', value='rss', regex=True, inplace=True)
    df['alias'].replace(to_replace=r'^.*js-fundamentals.*$', value='rss', regex=True, inplace=True)
    df['alias'].replace(to_replace=r'^.*st-.*$', value='rss_st', regex=True, inplace=True)
    df['alias'].replace(to_replace=r'^.*rss-pl.*$', value='rss_st', regex=True, inplace=True)
    return df

In [239]:
# Prepare course dataframe: 
#  - Select COLUMNS_COURSE columns
#  - Change to boolean completed and inviteOnly columns
#  - Clean alias column
#      @param: df DataFrame for change
#      @return: df DataFrame with prepared data
def prepareCourse(df):
    COLUMNS_COURSE = [
        'courseId',
        'inviteOnly',
        'completed',
        'alias',
    ]
    
    df['completed'] = changeBoolean(df['completed'])
    df['inviteOnly'] = changeBoolean(df['inviteOnly'])
    df = cleanAlias(df)

    return df[df.columns.intersection(COLUMNS_COURSE)]
    

# Prepare task_results dataframe: 
#  - Select COLUMNS_TASK_RESULTS columns
#      @param: df DataFrame for change
#      @return: df DataFrame with prepared data
def prepareTaskResults(df):
    COLUMNS_TASK_RESULTS = [
        'courseTaskId',
        'studentId',
        'score',
    ]

    return df[df.columns.intersection(COLUMNS_TASK_RESULTS)]


# Prepare task dataframe: 
#  - Select COLUMNS_TASK columns
#  - Merge task and task_results. Give us new column score - user score for task. If score < 0 it 0 points
#  - Calculate studentScore and totalScore. 
#     If totalScore NA we found max student score and apply it value as totalScore per task
#     Calculate mean studentScore for same task.(crosscheck type).
#  - Drop duplicate tasks by courseTaskId and studentId. It drop crosscheck type of tasks, where different students put score for same task 
#  - Fix if studentScore > totalScore apply studentScore = totalScore 

#
#      @param: df DataFrame with tasks for change
#      @param: task_results DataFrame with task_results data.                           
#      @return: df DataFrame with prepared data
def prepareTask(df, task_results):

    COLUMNS_TASK = [
        'courseTaskId',
        'courseId',
        'scoreWeight',
        'maxScore',
        'totalScore',
    ]


    df = df[df.columns.intersection(COLUMNS_TASK)]

    df = pd.merge(task_results, df, left_on='courseTaskId', right_on='courseTaskId', how='left')


    df['score'] = pd.to_numeric(df['score'])
    df[df['score']<0] = 0
    
    df['studentScore'] = df['score']*df['scoreWeight']
    
    df['totalScore'] =  df.apply(lambda x: x['maxScore'] if x['courseId'] == 19 else x['maxScore']*x['scoreWeight'], axis = 1)

    df[df['totalScore'].isna()] = df[df['totalScore'].isna()].apply( lambda x: fillNaTotalScore(x, df), axis = 1)
    df['studentScore'] =  df.groupby(['studentId', 'courseTaskId'])['studentScore'].transform('mean')
    df = df.drop_duplicates(["studentId", "courseTaskId"]) 
    
    df['studentScore'] = df.apply(lambda x:  x['totalScore'] if x['studentScore']>x['totalScore'] else x['studentScore'], axis = 1)

    return df


# Prepare train and test dataframe: 
#  - Select COLUMNS_TRAIN columns
#  - Clean createdDate column. Stay only year
#  - Change isExpelled to boolean
#  - Calculate totalCurses and failCurses for each students.(select by userId)
#  - Calculate studentPoints, totalPoints and persPoints by course persPoints = studentPoints/totalPoints
#  - Calculate studentPoints totalPoints by course and persPoints studentPoints/totalPoints
#  - Fill NA mentorId and englishLevel
#  - Converting englishLevel to single format 
#  - Converting categorial features to str

#      @param: df DataFrame with train and test data
#      @param: course DataFrame with courses data.    
#      @param: task DataFrame with tasks data.  
#      @return: df DataFrame with prepared data
def prepareTrain(df, course, task):

    COLUMNS_TRAIN = [
        'isTopPerformer',
        'studentId',
        'createdDate',
        'isExpelled',
        'courseId',
        'userId',
        'mentorId',
        'englishLevel',
    ]
    df = df[df.columns.intersection(COLUMNS_TRAIN)]

    df['createdDate'] = cleanDate(df['createdDate'])
    df = pd.merge(df, course, left_on='courseId', right_on='courseId', how='left')

    df['isExpelled'] = changeBoolean(df['isExpelled'])


    df['totalCurses'] = df.groupby(['userId'])['userId'].transform('count')
    df['failCurses'] = df[df['isExpelled'] == False].groupby(['userId'])['userId'].transform('count')
    df['doneCurses'] = df[df['isExpelled'] == True].groupby(['userId'])['userId'].transform('count')

    df['failCurses'] = df['failCurses'].fillna(0)
    df['doneCurses'] = df['doneCurses'].fillna(0)

    df['failCursesTmp'] = df[df['failCurses'] == 0]['totalCurses'] - df[df['failCurses'] == 0]['doneCurses']
    df['failCursesTmp'] = df['failCursesTmp'].fillna(0)
    df['failCurses'] = df['failCurses']+df['failCursesTmp']
    df.drop(columns=['failCursesTmp', 'doneCurses'], inplace=True)


    df['englishLevel'] = df['englishLevel'].fillna('-')
    df['mentorId'] = df['mentorId'].fillna('-')

    df['studentPoints'] = df.apply(lambda x: fillSum(x['studentId'], task, 'studentScore') , axis = 1)
    df['totalPoints'] = df.apply(lambda x: fillSum(x['studentId'], task, 'totalScore') , axis = 1)
    df['totalPoints'] =  df.groupby(['courseId'])['totalPoints'].transform('max')
    
    df['persPoints'] = df['studentPoints']/df['totalPoints']
    
    categorical_features = [
        'createdDate',
        'isExpelled',
        'courseId',
        'userId',
        'mentorId',
        'englishLevel',
        'completed',
        'alias',
        'inviteOnly', 
    ]

    for column in categorical_features:
        df[column] = df[column].astype(str)   

    df = cleanLang(df)    
        
    return df

In [240]:
PATH = "./data/"

course_original = pd.read_csv(os.path.join(PATH, 'rss', 'course.csv'))
task_original = pd.read_csv(os.path.join(PATH, 'rss', 'task.csv'))
task_results_original = pd.read_csv(os.path.join(PATH, 'rss', 'task_results.csv'))
train_original = pd.read_csv(os.path.join(PATH, 'rss', 'train.csv'))
test_original = pd.read_csv(os.path.join(PATH, 'rss', 'test.csv'))

task_results = prepareTaskResults(task_results_original)
task = prepareTask(task_original, task_results)
course = prepareCourse(course_original)

df_row_merged = pd.concat([train_original, test_original], ignore_index=True)
df_row_merged = prepareTrain(df_row_merged, course, task)

test = df_row_merged[df_row_merged['isTopPerformer'].isna()]
train = df_row_merged[df_row_merged['isTopPerformer'].isna() == False]

In [241]:
course_original.head(5)

,courseId,createdDate,updatedDate,name,year,primarySkillId,primarySkillName,locationName,alias,completed,description,descriptionUrl,planned,courseStartDate,courseEndDate,fullName,registrationEndDate,inviteOnly
0,16,2020-01-27 06:15:21.813898,2020-06-02 09:49:08.084615,RSS React 2020,NaN,javascript,JavaScript,NaN,react,True,Курс по React/Redux,NaN,f,2020-02-05 06:12:15.345+00,2020-03-18 06:12:18.391+00,RSS React 2020,2020-02-09 06:12:31.757+00,True
1,23,2020-02-25 09:28:08.842897,2020-07-28 06:07:15.142387,TEST COURSE,NaN,javascript,JavaScript,NaN,rss_st,False,TEST COURSE,NaN,f,2020-02-25 09:28:00.105+00,2020-08-06 09:28:01.698+00,TEST COURSE,NaN,True
2,18,2020-02-11 08:40:16.050523,2020-09-10 18:30:58.028305,iOS 2020,NaN,ios-obj-c,iOS Objective-C,NaN,ios,False,iOS 2020 course,NaN,f,2020-02-17 08:39:56.164+00,2020-06-01 08:40:00.109+00,Rolling Scopes iOS 2020,2020-03-08 09:33:55.611+00,False
3,9,2019-05-24 15:20:38.564615,2019-09-09 16:14:35.099569,RS 2018 Q1,2018.0,javascript,JavaScript,Minsk,rss,True,2018,NaN,f,2017-12-31 21:00:00.01+00,2018-06-30 21:00:00.01+00,Rolling Scopes School 2018 Q1,NaN,False
4,6,2019-05-22 11:56:03.343815,2019-09-09 16:14:58.34156,RS 2016 Q3,2016.0,javascript,JavaScript,Minsk,rss,True,RS 2016 Q3,NaN,f,2016-09-01 19:48:14.839+00,2016-12-31 19:48:14.839+00,Rolling Scopes School 2016 Q3,NaN,False

In [242]:
course.head(5)

   courseId   alias  completed  inviteOnly
0        16   react       True        True
1        23  rss_st      False        True
2        18     ios      False       False
3         9     rss       True       False
4         6     rss       True       False

In [243]:
task_results_original.head(5)

,createdDate,updatedDate,score,comment,studentId,courseTaskId,historicalScores,juryScores,checkerId,anonymous
0,2019-09-19 18:36:46.232791,2019-09-19 18:36:46.232791,100,NaN,7266,300,"[{""authorId"":0,""score"":100,""dateTime"":15689182...",[],NaN,NaN
1,2019-10-02 12:48:27.977059,2019-10-21 09:58:59.674519,41,NaN,7929,313,"[{""authorId"":0,""score"":38,""dateTime"":157002050...",[],NaN,NaN
2,2019-10-08 15:05:43.777805,2019-10-08 15:05:43.777805,100,NaN,6134,308,"[{""authorId"":0,""score"":100,""dateTime"":15705471...",[],NaN,NaN
3,2019-10-11 15:03:28.245927,2019-10-11 15:03:28.245927,100,NaN,5882,305,"[{""authorId"":0,""score"":100,""dateTime"":15708062...",[],NaN,NaN
4,2019-10-12 16:31:57.699719,2019-10-12 16:31:57.699719,100,NaN,8247,305,"[{""authorId"":0,""score"":100,""dateTime"":15708979...",[],NaN,NaN

In [244]:
task_results.head(5)

   score  studentId  courseTaskId
0    100       7266           300
1     41       7929           313
2    100       6134           308
3    100       5882           305
4    100       8247           305

In [245]:
task_original.head(5)

,taskId,createdDate,updatedDate,name,descriptionUrl,description,verification,githubPrRequired,useJury,allowStudentArtefacts,githubRepoName,sourceGithubRepoUrl,type,tags,discipline,attributes,courseTaskId,createdDateCourseTask,updatedDateCourseTask,mentorStartDate,mentorEndDate,maxScore,stageId,scoreWeight,checker,taskOwnerId,studentStartDate,studentEndDate,courseId,pairsCount,typeCourseTask,disabled,createdDateCourse,updatedDateCourse,nameCourse,year,primarySkillId,primarySkillName,locationName,alias,completed,descriptionCourse,descriptionUrlCourse,planned,courseStartDate,courseEndDate,fullName,registrationEndDate,inviteOnly
0,413,2019-08-29 10:57:34.732592,2019-11-11 18:19:01.013044,ST JS Test,http://learn.javascript.ru/,NaN,manual,f,f,f,NaN,NaN,test,NaN,NaN,{},296,2019-08-29 11:01:40.171488,2019-08-29 13:11:10.876319,NaN,NaN,40.0,16.0,1.0,mentor,NaN,2019-04-10 00:00:00+00,2019-04-10 00:00:00+00,12,NaN,NaN,f,2019-08-29 07:26:02.025829,2019-10-25 17:20:30.9813,RS-ST 2019 Q1,NaN,javascript,JavaScript,NaN,rs-st-2019-q1,t,RS Short Track 2019 Q1,NaN,f,2019-04-08 07:23:45.643+00,2019-07-10 07:23:45.643+00,Rolling Scopes School 2019 Q1: Short Track,NaN,t
1,253,2019-05-17 13:02:30.233767,2019-05-17 13:02:30.233767,tdd,NaN,NaN,manual,NaN,f,f,NaN,NaN,NaN,NaN,NaN,{},292,2019-08-29 10:30:11.446774,2019-08-29 13:09:13.674882,NaN,NaN,100.0,16.0,1.0,mentor,NaN,2019-05-24 00:00:00+00,2019-05-24 00:00:00+00,12,NaN,NaN,f,2019-08-29 07:26:02.025829,2019-10-25 17:20:30.9813,RS-ST 2019 Q1,NaN,javascript,JavaScript,NaN,rs-st-2019-q1,t,RS Short Track 2019 Q1,NaN,f,2019-04-08 07:23:45.643+00,2019-07-10 07:23:45.643+00,Rolling Scopes School 2019 Q1: Short Track,NaN,t
2,410,2019-08-29 09:41:00.400898,2019-08-29 10:08:08.993969,ST Chat,https://github.com/rolling-scopes-school/RS-Sh...,NaN,manual,t,f,f,NaN,NaN,NaN,NaN,NaN,{},288,2019-08-29 09:41:58.974585,2019-08-29 13:09:30.697999,NaN,NaN,120.0,16.0,1.0,mentor,NaN,2019-04-29 00:00:00+00,2019-05-09 00:00:00+00,12,NaN,NaN,f,2019-08-29 07:26:02.025829,2019-10-25 17:20:30.9813,RS-ST 2019 Q1,NaN,javascript,JavaScript,NaN,rs-st-2019-q1,t,RS Short Track 2019 Q1,NaN,f,2019-04-08 07:23:45.643+00,2019-07-10 07:23:45.643+00,Rolling Scopes School 2019 Q1: Short Track,NaN,t
3,407,2019-08-29 09:32:17.606001,2019-08-29 10:08:44.864627,ST Custom Lodash,https://github.com/rolling-scopes-school/RS-Sh...,NaN,manual,t,f,f,NaN,NaN,NaN,NaN,NaN,{},285,2019-08-29 09:33:10.381953,2019-08-29 13:13:11.434936,NaN,NaN,100.0,16.0,0.8,mentor,NaN,2019-04-15 00:00:00+00,2019-04-21 00:00:00+00,12,NaN,NaN,f,2019-08-29 07:26:02.025829,2019-10-25 17:20:30.9813,RS-ST 2019 Q1,NaN,javascript,JavaScript,NaN,rs-st-2019-q1,t,RS Short Track 2019 Q1,NaN,f,2019-04-08 07:23:45.643+00,2019-07-10 07:23:45.643+00,Rolling Scopes School 2019 Q1: Short Track,NaN,t
4,230,2019-05-17 13:01:38.681206,2019-08-29 10:10:10.985834,ST JS Assignments,https://github.com/rolling-scopes-school/RS-Sh...,NaN,manual,t,f,f,NaN,NaN,NaN,NaN,NaN,{},289,2019-08-29 09:58:57.892573,2019-08-29 13:12:19.464896,NaN,NaN,150.0,16.0,1.0,mentor,NaN,2019-05-17 00:00:00+00,2019-05-25 00:00:00+00,12,NaN,NaN,f,2019-08-29 07:26:02.025829,2019-10-25 17:20:30.9813,RS-ST 2019 Q1,NaN,javascript,JavaScript,NaN,rs-st-2019-q1,t,RS Short Track 2019 Q1,NaN,f,2019-04-08 07:23:45.643+00,2019-07-10 07:23:45.643+00,Rolling Scopes School 2019 Q1: Short Track,NaN,t

In [246]:
task.head(5)

,score,studentId,courseTaskId,maxScore,scoreWeight,courseId,studentScore,totalScore
0,100.0,7266.0,300.0,100.0,0.01,11.0,1.00,1.0
1,41.0,7929.0,313.0,100.0,0.01,11.0,0.41,1.0
2,100.0,6134.0,308.0,100.0,0.02,11.0,2.00,2.0
3,100.0,5882.0,305.0,100.0,0.03,11.0,3.00,3.0
4,100.0,8247.0,305.0,100.0,0.03,11.0,3.00,3.0

In [247]:
train_original.head(5)

,studentId,createdDate,updatedDate,isExpelled,expellingReason,courseCompleted,isTopPerformer,preferedMentorGithubId,readyFullTime,courseId,userId,mentorId,cvUrl,hiredById,hiredByName,isFailed,startDate,endDate,repository,repositoryLastActivityDate,idUser,educationHistory,englishLevel
0,5740,2019-09-06 17:30:17.681556,2019-12-03 16:24:58.705742,t,No activity in private repository,f,True,NaN,NaN,11,4467,647.0,NaN,NaN,NaN,f,2019-09-09 07:35:20.981+00,2019-12-04 09:17:02.998689+00,https://github.com/rolling-scopes-school/1b3f6...,NaN,4467,[],NaN
1,6956,2019-09-09 18:24:04.90096,2019-11-20 22:00:13.036321,t,No activity in private repository,f,True,NaN,NaN,11,5580,795.0,NaN,NaN,NaN,f,2019-09-09 07:35:20.981+00,2019-12-04 09:17:02.998689+00,https://github.com/rolling-scopes-school/76c0e...,NaN,5580,[],NaN
2,11616,2020-02-05 12:39:48.166948,2020-02-05 12:39:48.166948,f,NaN,f,False,NaN,NaN,16,9557,NaN,NaN,NaN,NaN,f,2020-02-05 12:39:48.164+00,NaN,NaN,NaN,9557,[],NaN
3,11773,2020-02-05 17:16:46.874484,2020-02-05 17:16:46.874484,f,NaN,f,False,NaN,NaN,16,9627,NaN,NaN,NaN,NaN,f,2020-02-05 17:16:46.872+00,NaN,NaN,NaN,9627,"[{""graduationYear"":null,""faculty"":null,""univer...",b1
4,6724,2019-09-09 17:06:56.967084,2020-01-19 16:55:12.069984,t,Failed Stage 2,f,True,NaN,NaN,11,5390,928.0,NaN,NaN,NaN,f,2019-09-09 07:35:20.981+00,1970-01-01 00:00:00+00,https://github.com/rolling-scopes-school/7fb23...,NaN,5390,[],NaN

In [248]:
print("Alias:\n{}\n".format(df_row_merged['alias'].value_counts()))
print("englishLevel:\n{}\n".format(df_row_merged['englishLevel'].value_counts()))
print("totalCurses:\n{}\n".format(df_row_merged['totalCurses'].value_counts()))
print("failCurses:\n{}\n".format(df_row_merged['failCurses'].value_counts()))

print("persPoints:\n{}\n".format(df_row_merged['persPoints'].describe()))
train.head(5)

Alias:
rss        10345
react       1317
nodejs       455
android      388
angular      384
ios          317
rss_st       256
Name: alias, dtype: int64

englishLevel:
-      6557
a2     2285
b1     1670
a1     1215
b2      667
a0      343
a2+     248
c1      182
b1+     116
a1+      80
b2+      59
c2       24
c1+      16
Name: englishLevel, dtype: int64

totalCurses:
1     7437
2     3202
3     1686
4      632
5      290
6      114
7       91
10      10
Name: totalCurses, dtype: int64

failCurses:
0.0    5438
1.0    4427
2.0    2148
3.0     890
4.0     358
5.0     162
6.0      39
Name: failCurses, dtype: int64

persPoints:
count    13462.000000
mean         0.128566
std          0.249376
min          0.000000
25%          0.000000
50%          0.000525
75%          0.097115
max          1.000000
Name: persPoints, dtype: float64

,studentId,createdDate,isExpelled,isTopPerformer,courseId,userId,mentorId,englishLevel,alias,completed,inviteOnly,totalCurses,failCurses,studentPoints,totalPoints,persPoints
0,5740,2019,True,True,11,4467,647.0,-,rss,True,False,1,0.0,190.20,2186.0,0.087008
1,6956,2019,True,True,11,5580,795.0,-,rss,True,False,1,0.0,123.07,2186.0,0.056299
2,11616,2020,False,False,16,9557,-,-,react,True,True,1,1.0,0.00,630.0,0.000000
3,11773,2020,False,False,16,9627,-,b1,react,True,True,1,1.0,0.00,630.0,0.000000
4,6724,2019,True,True,11,5390,928.0,-,rss,True,False,5,3.0,490.62,2186.0,0.224437

In [249]:
CATEGORICAL_FEATURES =  [
        'createdDate',
        'isExpelled',
        'courseId',
        'userId',
        'mentorId',
        'englishLevel',
        'completed',
        'alias',
        'inviteOnly', 
    ]

NUMERIC_FEATURES  = [
        'totalCurses',
        'persPoints',         #top feature
        'failCurses',
        'studentPoints',      #top feature
        'totalPoints',
    ]



COLUMN_FOR_LEARN = np.concatenate([NUMERIC_FEATURES, CATEGORICAL_FEATURES], axis=0)

clean_train = train[train.columns.intersection(COLUMN_FOR_LEARN)]

X_train, X_test, y_train, y_test = train_test_split(clean_train, train['isTopPerformer'].to_list(), test_size=0.2, random_state=2020)

    
numeric_transformer = Pipeline(steps=[('scaler', StandardScaler())])
categorical_transformer = Pipeline(steps=[('encoder', OneHotEncoder(handle_unknown='ignore'))])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, NUMERIC_FEATURES),
        ('cat', categorical_transformer, CATEGORICAL_FEATURES)
    ])
X_train

,createdDate,isExpelled,courseId,userId,mentorId,englishLevel,alias,completed,inviteOnly,totalCurses,failCurses,studentPoints,totalPoints,persPoints
1845,2019,True,11,6091,-,-,rss,True,False,1,0.0,0.3,2186.0,0.000137
10397,2020,False,19,10794,1326.0,-,android,False,False,1,1.0,4365.0,10700.0,0.407944
10370,2020,True,19,4846,-,a2,android,False,False,2,0.0,0.0,10700.0,0.000000
94,2020,True,13,4983,-,-,rss,True,False,2,0.0,189.6,1904.7,0.099543
10191,2020,True,13,9356,-,-,rss,True,False,1,0.0,0.0,1904.7,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3655,2019,True,1,1607,-,a1,rss,True,False,1,0.0,0.0,1777.4,0.000000
1661,2019,False,1,1093,103.0,a2,rss,True,False,1,1.0,971.4,1777.4,0.546529
2139,2019,True,1,1651,-,b2,rss,True,False,1,0.0,0.0,1777.4,0.000000
7491,2019,True,1,1956,-,b1,rss,True,False,1,0.0,0.0,1777.4,0.000000
9056,2020,True,13,11498,-,-,rss,True,False,1,0.0,0.0,1904.7,0.000000

In [250]:
criterion_val           = 'gini'
max_depth_val           = 641 
min_samples_split_val   = 2
min_samples_leaf_val    = 1
n_estimators_val        = 231


pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier',   RandomForestClassifier(  n_estimators=n_estimators_val, 
                                     criterion=criterion_val,
                                     max_depth = max_depth_val,
                                     min_samples_split = min_samples_split_val,
                                     min_samples_leaf = min_samples_leaf_val))
])

#clf = pipeline.fit(X_train, y_train)
clf = pipeline.fit(clean_train, train['isTopPerformer'].to_list())
y_pred=clf.predict(X_test)


print('Result on scaled data: {:f}'.format(cross_val_score(clf, X_test, y_test, scoring='f1', cv=5).mean()))

Result on scaled data: 0.958547

In [236]:
def saveResultToCsv(idVal, predictResult, filename='submission.csv'):
    submission = pd.DataFrame({'studentId':idVal, 'isTopPerformer':predictResult})
    submission['studentId'] = submission['studentId'].astype(int)
    submission.to_csv(filename,index=False) 

clean_test = test[test.columns.intersection(COLUMN_FOR_LEARN)]

y_pred=clf.predict(clean_test)

saveResultToCsv(test['studentId'],y_pred, 'out_final_gini2.csv')